
body {
    background: rgb(232, 142, 232);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h1 {
    font-weight: 700;
    color: #343a40;
    text-align: center;
  }
  
  